/***** Root Colors *****/
:root {
  --hue: 195;
  --mid-darkish-primary: hsl(var(--hue), 91%, 25%);
  --mid-primary: hsl(var(--hue), 46%, 40%);
  --mid-primary-20-percent: hsla(var(--hue), 46%, 40%, 0.2);
  --white: hsl(0, 100%, 100%);
  --white-20-percent: hsla(0, 100%, 100%, 0.2);
  --dark-primary-gray: hsl(var(--hue), 6%, 13%);
  --dark-primary-gray-02: hsl(var(--hue), 6%, 8%);
}

/***** Font Inline Colors *****/
.c-white {
  color: var(--white);
}

.c-dark-primary-gray {
  color: var(--dark-primary-gray);
}

.c-dark-primary-gray-02 {
  color: var(--dark-primary-gray-02);
}
