/***** Root Colors *****/
:root {
  --mid-darkish-blue: hsl(195, 91%, 25%);
  --mid-blue: hsl(195, 46%, 40%);
  --white: hsl(0, 100%, 100%);
  --white-20-percent: hsla(0, 100%, 100%, 0.2);
  --dark-blueish-gray: hsl(240, 6%, 13%);
  --dark-blueish-gray-02: hsl(240, 6%, 8%);
}

/***** Font Inline Colors *****/
.c-white {
  color: var(--white);
}

.c-dark-blueish-gray {
  color: var(--dark-blueish-gray);
}

.c-dark-blueish-gray-02 {
  color: var(--dark-blueish-gray-02);
}
